*, *:before, *:after {
  box-sizing: border-box;
}
/* NAVIGATION */
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  background-color: #333;
  font-size: 10px;
  font-family: roboto;
}

.navigation li {
  list-style-type: none;
}

li > .fa-inverse {
  color: #1C140D;
}

.fa-inverse {
  float: left;
  margin: -30px;
  padding-top: 50px;
}

li > .fa-bus {
  float: left;
  padding-top: 20px;
  padding-right: 10px;
}

h1 {
  float: left;
  font-size: 1.5em;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

li h2 {
  float: left;
  font-size: 2em;
}

.bus_numbers {
  margin-left: 30px;
}

.bus_numbers > p {
  color: black;
  font-size: 1.5em;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 8px;
  margin-left: 2px;
}

.walk {
  padding-left: 30px;
}

.walk > p {
  display: inline-block;
  font-size: 1.25em;
  background-color: #F2E9E1;
  border: 1px solid #1C140D;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px
}

.fa-walking {
  padding-right: 10px;
}

.navigation > .fa-bus {
  color: #1C140D;
  float: left;
}

.fa-ellipsis-h {
  float: left;
  padding-top: 20px;
  padding-left: 40px;
}


/* BODY */

.container {
  margin: 10% auto;
  width: 400px;
  height: auto;
  background-color: #F2E9E1;
}

.buses {
  background-color: #F2E9E1;
  height: 75px;
  border: 2px solid #Ffffff;
  margin: 1px;
}

.row {
  display: inline;
  list-style-type: none;
}

.row li .fa-bus {
  float: left;
  padding: 0px;
  margin-left: 27px;
  margin-right: 10px;
}

.busnumber {
  float: left;
  text-align: center;
  font-size: 1.5em;
  background-color: #FF9500;
  border-radius: 25px;
  width: 40px;
}

h2 {
  float: left;
  color: #1C140D;
  font-size: 1.75em;
}


p {
  display: inline;
  left: 0px;
  color: ##007013;
  font-weight: bold;
  font-size: 3em;
}

.area {
  float: left;
  padding-left: 10px;
  font-size: 1.5em;
  color: black;
  }

.time {
  color: #007A14;
  float: right;
  padding-right: 10px;
  font-size: 3em;
  margin-top: -10px;
}

.bottom {
  display: inline;
  list-style-type: none;
}

.dest {
  float: left;
  font-size: 1.25em;
  padding-left: 60px;
  padding-top: 10px;
 }

.freq {
  color: #007A14;
  float: right;
  font-size: 1.25em;
  padding-top: 10px;
  margin-right: -100px;
}

.navy {
  padding-left: 60px;
}

.devon {
  padding-left: 30px;
}

.time > .fa-wifi {
  font-size: .5em;
  color: #007A14;
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

h3 {
  display: inline-block;
  font-size: 1.5em;
}

.resume {
  float: right;
  color: #C0303C;
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 5px;
  padding-right: 5px;
}

span {
  color: #8F242D;
  font-size: 2em;
  padding-left: 10px;
}
#time {
  color: #F2E9E1;
  float: right;
  padding-right: 10px;
  font-size: 3em;
  margin-top: -10px;
}

#na {
  color: #007A14;
  float: right;
  font-size: 1.5em;
  padding-top: 10px;
  margin-right: -55px;
}


.out {
  background-color: #CCBAA4;
}
