*, *:before, *:after {
  box-sizing: border-box;
}
/* NAVIGATION */
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  background-color: #333;
  font-size: 10px;
  font-family: roboto;
}

.navigation > .fa-inverse {
  color: black;
}

.fa-inverse {
  padding-left: 20px;
  padding-top: 20px;
}


h2 {
  display: inline-block;
  font-size: 2em;
  padding-top: 10px;
}

.bus_numbers {
  margin-left: 45px;
}

.bus_numbers > p {
  display: inline-block;
  color: black;
  font-size: 1.5em;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 8px;
  margin-left: 2px;
}

.walk {
  padding-left: 40px;
}

.walk > p {
  display: inline-block;
  font-size: 1.75em;
  background-color: #ffffff;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px
}

.fa-walking {
  padding-right: 10px;
  padding-top: 3px;
}

.navigation > .fa-bus {
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 12px;
}

.fa-ellipsis-h {
  display: inline-block;
  padding-left: 60px;
}


/* BODY */

.container {
  margin: 10% auto;
  width: 400px;
  height: auto;
  background-color: #DADADA;
}

.row {
  list-style-type: none;
  background-color: #ffffff;
  height: auto;
  margin: 1px;
}

.fa-bus {
  display: inline;
  padding-top: 20px;
}

h1 {
  display: inline;
  font-size: 2em;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  display: inline;
  font-size: 1.75em;
}

p {
  display: inline;
  color: #009C1B;
  font-weight: bold;
  font-size: 2.5em;
  padding-left: 80px;
}

p > .fa-wifi {
  font-size: .5em;
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

h3 {
  display: inline-block;
  font-size: 1.5em;
}

.dest {
  padding-left: 30px;
}

.freq {
  padding-left: 60px;
}

.out {
  background-color: grey;
}
