*, *:before, *:after {
  box-sizing: border-box;
}
/* NAVIGATION */
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  background-color: #333;
  font-size: 10px;
}

.fa-inverse {
  padding-left: 20px;
  padding-top: 20px;
}

h2 {
  display: inline-block;
  font-size: 2em;
  padding-top: 10px;
}

/* .bus_numbers {
  display: inline-block;
  margin-left: 45px;
  margin-top: 10px;
} */

/* .bus_numbers > p {
  display: inline-block;
  color: black;
  font-size: 1.5em;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 2px;
} */

/* .walk {
  padding-left: 40px;
} */

/* .walk > p {
  display: inline-block;
  color: #009C1B;
  font-size: 1.75em;
  border-radius: 25px;
  background-color: #ffffff;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  margin-left: 2px;
} */

/* .fa-walking {
  padding-right: 10px;
  padding-top: 3px;
} */

.navigation > .fa-bus {
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 12px;
}

.fa-ellipsis-h {
  display: inline-block;
  padding-left: 30px;
}


/* BODY */

.container {
  margin: 10% auto;
  width: 400px;
  height: 667px;
  background-color: #DADADA;
}

h2 {
  display: inline-block;
  margin-left: 5px;
}

.E60 li{
  list-style-type: none;
}

.buslist {
  width: 99%;
  background-color: #ffffff;
  height: auto;
  margin: 1px;
}

.fa-bus {
  /* display: inline-block; */
  /* padding-left: 20px; */
}

/* Bus Number in Next Arrivals */

h1 {
  display: inline-block;
  font-size: 2em;
  margin-left: 3%;
  background-color: #FF9500;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  display: inline-block;
  font-size: 1.75em;
}

p {
  display: inline-block;
  color: #009C1B;
  font-weight: bold;
  font-size: 2.5em;
  padding-left: 100px;
}

p > .fa-wifi {
  font-size: .5em;
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

h3 {
  float: left;
  font-size: 1.5em;
}

.dest {
  float: left;
}

.freq {
  float: right;
}


/* .time { */
  /* display: inline-block; */
  /* font-size: 2.5em; */
/* } */

/* .busList > .fa-wifi {
  font-size: .5em;
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* .arrow {
  float: right; */
  /* clear: right; */
  /* padding-top: 20px;
  padding-right: 10px;
  color: grey;
  font-size: 15px;
} */

/* .destination {
    position: relative;
    font-size: 1.25em;
    bottom: 28px;
    left: 45px;
} */

/* TIME REMAINING */
  /* #min {
    display: inline-block;
    font-size: 1.25em; */
  /* position: relative; */
  /* bottom: 10px; */
  /* left: 25px; */
  /* font-size: 2em; */
  /* border-bottom: 0px; */
/* } */

/* .min {
  position: relative;
  padding-bottom: 0px;
} */

/* h3 {
  display: block;
  padding-left: 70px;
  padding-bottom: 0px;
  margin-top: 0px;
} */

/* .content { */
  /* background-color: grey; */
  /* display: inline; */
  /* vertical-align: top; */
  /* float: left; */
  /* margin-left: 60px; */
  /* border-bottom: 40px; */
  /* position: relative; */
  /* font-size: 1.25em; */
  /* padding-top: 10px; */
  /* padding-left: 50px; */
}

/* .destination { */
    /* display: inline;
    float: left;
    background-color: purple; */
    /* position: relative; */
    /* padding-left: 0px; */
    /* left: 5px; */
    /* bottom: -3px; */
    /* font-size: 1.25em; */
    /* border-bottom: 0px;
    padding-top: 10px; */
}

/* .time {
  display: inline-block;
} */
/* .time > p {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 1.25em;
} */






/* SCHEDULED ARRIVALS */
/*
.scheduled_arrivals > h2 {
  margin-bottom: 0px;
  margin-left: 20px;
}

.estimate {
  position: relative;
  left: 20px;
  color: black;
  font-size: 1.5em;
  margin-bottom: 0px;
  padding-top: 10px;
}

#smalltime {
  position: relative;
  left: 25px;
  bottom: 10px;
  font-size: 1em;
} */
